.threeMoto {
  gap: 4px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1199px) {
  .threeMoto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "f1 f2"
      "f3 f3";
  }

  .threeMoto > .threeMotoCard:nth-child(1) {
    grid-area: f1;
  }

  .threeMoto > .threeMotoCard:nth-child(2) {
    grid-area: f2;
  }

  .threeMoto > .threeMotoCard:nth-child(3) {
    grid-area: f3;
  }
}

@media (max-width: 767px) {
  .threeMoto {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "f1"
      "f2"
      "f3";
  }
}
